.root {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;

    & form {
        display: flex;
        flex-flow: column;
        gap: 0.5rem;

        & > * {
            outline: none;
        }

        & > :first-child {
            font-size: 1.25rem;
            &::placeholder {
                color: inherit;
            }
        }

        & > :last-child {
            font-size: 1rem;
            &::placeholder {
                color: inherit;
            }
        }
    }

    & > .cols {
        display: flex;
        flex-flow: wrap;
        gap: 1.5rem;

        & > * {
            flex: 1;
        }
    }
}

.duration {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
}

.tabs {
    margin-block-start: -1rem;
    & span {
        font-size: 1rem;
    }
}

.chart {
    inline-size: 100%;
    aspect-ratio: 2.5;

    & .line {
        transition: d 0.2s;
        fill: none;
        stroke-width: 1;
    }

    & :global(.domain) {
        stroke-width: 1;
    }

    & :global(.tick) > line {
        stroke: gray;
        stroke-width: 0.5;
        stroke-dasharray: 5, 5;
    }

    & footer {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        gap: 1rem;

        & > span {
            display: flex;
            gap: 0.25rem;
            text-transform: capitalize;
            &::before {
                content: '■';
                color: var(--color, currentColor);
            }
        }
    }
}
