.root {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;

    & > .cols {
        display: flex;
        flex-flow: wrap;
        gap: 1.5rem;

        & > * {
            flex: 1;
        }
    }
}

.duration {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
}

.tabs {
    margin-block-start: -1rem;
    & span {
        font-size: 1rem;
    }
}

.chart {
    inline-size: 100%;
    aspect-ratio: 2.5;

    & .line {
        transition: d 0.2s;
        fill: none;
        stroke-width: 1;
    }

    & :global(.domain) {
        stroke-width: 1;
    }

    & :global(.tick) > line {
        stroke: gray;
        stroke-width: 0.5;
        stroke-dasharray: 5, 5;
    }
}
