.root {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;

    & > * {
        outline: none;
    }

    & > :first-child {
        font-size: 1.25rem;
        &::placeholder {
            color: inherit;
        }
    }

    & > :last-child {
        font-size: 1rem;
        &::placeholder {
            color: inherit;
        }
    }
}
