*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    color: inherit;
}

html {
    block-size: 100%;
}

body {
    min-block-size: 100%;
    display: flex;
    flex-flow: column;
    background: hsl(240 15% 95%);
}

hr {
    border-width: 0 1px 1px 0;
    border-style: solid;
}
